<section>
<h2 class="text-center text-green-600 text-4xl fa-medium my-6">Forgot Password</h2>

@if(step == 1){
  <form [formGroup]="VerfiyEmail" class="bg-gray-100 rounded-lg shadow-lg py-4" (ngSubmit)="verifyEmailSubmit()">
    <div class="mb-1 w-[95%] mx-auto">
      @let emailControl= VerfiyEmail.get('email');
      <label for="email">Email</label>
      <input formControlName="email" id="email" type="email" class="bg-white border border-gray-300
      text-gray-900 text-sm rounded-lg focus:ring-blue-500
       focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
        dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
         dark:focus:ring-blue-500 dark:focus:border-blue-500">
         @if(emailControl?.errors && emailControl?.touched){
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
                <ul class="mt-1.5 list-disc list-inside">

                  @if(emailControl?.getError('required')){
                    <li>Email is required</li>
                  }
                  @if(emailControl?.getError('email')){
                    <li>Enter email valid  </li>
                  }

              </ul>
            </div>
          </div>
        }


        <button [disabled]="isLoading" type="submit" class="btn-main mx-6 ">
          verify Email
        @if(isLoading){
          <span><i class="fas fa-spin fa-spinner"></i></span>
        }
        </button>
    </div>

  </form>
}

@else if(step ==2){
  <form [formGroup]="verifyCode" class="bg-gray-100 rounded-lg shadow-lg py-4" (ngSubmit)="verifyCodeSubmit()">
    <div class="mb-1 w-[95%] mx-auto">
      @let codeControl= verifyCode.get('resetCode');
      <label for="resetCode">resetCode</label>
      <input formControlName="resetCode" id="resetCode" type="text" class="bg-white border border-gray-300
      text-gray-900 text-sm rounded-lg focus:ring-blue-500
       focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
        dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
         dark:focus:ring-blue-500 dark:focus:border-blue-500">
         @if(codeControl?.errors && codeControl?.touched){
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
                <ul class="mt-1.5 list-disc list-inside">

                  @if(codeControl?.getError('required')){
                    <li>resetCode is required</li>
                  }
                  @if(codeControl?.getError('pattern')){
                    <li>Enter code valid  </li>
                  }

              </ul>
            </div>
          </div>
        }


        <button [disabled]="isLoading" type="submit" class="btn-main mx-6 ">
          verify Code
        @if(isLoading){
          <span><i class="fas fa-spin fa-spinner"></i></span>
        }
        </button>
    </div>

  </form>
}

@else if(step == 3){
  <form [formGroup]="resetPassword" class="bg-gray-100 rounded-lg shadow-lg py-4" (ngSubmit)="resetPasswordSubmit()">
    <div class="mb-1 w-[95%] mx-auto">
      @let resetControl= resetPassword.get('email');
      <label for="email">email</label>
      <input readonly formControlName="email" id="email" type="text" class="bg-white border border-gray-300
      text-gray-900 text-sm rounded-lg focus:ring-blue-500
       focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
        dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
         dark:focus:ring-blue-500 dark:focus:border-blue-500">
         @if(resetControl?.errors && resetControl?.touched){
          <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
            </svg>
            <span class="sr-only">Danger</span>
            <div>
                <ul class="mt-1.5 list-disc list-inside">

                  @if(resetControl?.getError('required')){
                    <li>email is required</li>
                  }
                  @if(resetControl?.getError('email')){
                    <li>Enter Email valid  </li>
                  }

              </ul>
            </div>
          </div>
        }
        @let resetPasswordControl= resetPassword.get('newPassword');
        <label for="newPassword">newPassword</label>
        <input formControlName="newPassword" id="newPassword" type="password" class="bg-white border border-gray-300
        text-gray-900 text-sm rounded-lg focus:ring-blue-500
         focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
          dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
           dark:focus:ring-blue-500 dark:focus:border-blue-500">
           @if(resetPasswordControl?.errors && resetPasswordControl?.touched){
            <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
              <svg class="shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
              </svg>
              <span class="sr-only">Danger</span>
              <div>
                  <ul class="mt-1.5 list-disc list-inside">

                    @if(resetPasswordControl?.getError('required')){
                      <li>Password is required</li>
                    }
                    @if(resetPasswordControl?.getError('pattern')){
                      <li>Enter password valid  </li>
                    }

                </ul>
              </div>
            </div>
          }

          <button [disabled]="isLoading" type="submit" class="btn-main mx-6 ">
            reset Password
          @if(isLoading){
            <span><i class="fas fa-spin fa-spinner"></i></span>
          }
          </button>
    </div>

  </form>
}

</section>
