@if(brands){
  <section>
    <h1 class="text-green-600 text-center text-3xl my-6">All Brands</h1>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-10 w-[90%] mx-auto">
   @for(brand of brands; track brand._id){
<div (click)="getSpecificBrands(brand._id)">
  <div class="border border-green-400/50 rounded-md overflow-hidden shadow relative hover:shadow-lg hover:shadow-green-400">
    <div class="card-img">
      <img [src]="brand.image" class="w-full h-[250px] object-contain" alt="" />
    </div>
    <div class="card-body px-2 py-2">
      <h3 class="font-medium text-green-600 text-sm text-center"> {{brand.name}} </h3>
    </div>
  </div>
</div>
@if(isClosed){
  <!-- Default Modal -->
<div class="fixed top-0 left-0 right-0 bottom-0 bg-black/5">
  <div class="bg-white py-10 px-4 md:w-[30%] sm:w-[80%]   rounded-md top-[50%] left-[50%] sm:mx-auto">
    <img [src]="brandsDetails.image" class="w-full h-[300px] object-contain" alt="" />
    <div class="card-body px-2 py-2">
      <h3 class="font-medium text-green-600 text-sm text-center"> {{brandsDetails.name}} </h3>
    </div>
    <button (click)="isClosed=false" class="inline-flex  bg-gray-400 border-0 py-2 px-6 focus:outline-none hover:bg-gray-600 rounded text-lg">
        close
    </button>
  </div>
</div>
}
   }
    </div>

  </section>
}
